body {
    background: #0E1117;
    color: white;
    font-family: Arial;
}

.logo {
    color: #E50914;
}

.row {
    display: flex;
    gap: 20px;
}

.card img {
    width: 150px;
    border-radius: 10px;
}